@charset 'UTF-8';
body {
  margin: 0;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
}
.container > div {
  margin: 10px auto;
}

/** ------------ header ------------ **/
.navbar {
  min-height: 1px;
}

.title {
  margin: 0;
  color: #FFFFFF;
  text-align: right;
  padding-right: 20px;
  /*font-size: 1.2em;*/
  font-size: 4.2em;
  font-family: Arial, Verdana, sans-serif;
  width: 100%;
  height: 80px;
  cursor: default;
  background-color: silver;
  border-bottom: 2px solid #fff;
}

.footer {
  margin: 0;
  bottom: 0;
  color: #FFFFFF;
  width: 100%;
  height: 5px;
  position: absolute;
  cursor: default;
  background-color: black;
}

/** user info **/
.user-header {
  background-color: rgba(255, 255, 255, 0.7);
  top: 0;
  right: 0;
  float: right;
  color: #000000;
}
.user-header .user-name {
  margin: 3px;
  font-size: 0.8em;
}
.user-header .btn-logout {
  font-size: 0.8em;
  text-decoration: underline;
  margin: 3px;
  color: #2a6496;
}

.content .button-font {
  color: black;
  font-size: 1.2em;
}

/** ------ report ------ **/
.report-content > * {
  margin: 10px auto;
}

.container .common-items > * {
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 1.2em;
}

.msg {
    display: none;
}

/** ------ report-header ----- **/
.report-header .table {
  margin-bottom: 0;
}

.worklog {
  background-color: #f7f7f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 5px;
}

/** ----- section ----- **/
.section {
  border: 1px solid #ddd;
  border-radius: 10px;
}
.section > div {
  margin: 5px auto !important;
}
.section input {
  margin-left: 2vw;
  outline: 0;    /*safari用*/
  border: none;  /*Firefox、ie8*/
  *border: 0;    /*ie7,6用*/
  font-size: 1.2em;
  width: 70%;
}
.section textarea {
  height: 70vh;
  outline: 0;    /*safari用*/
  border: none;  /*Firefox、ie8*/
  *border: 0;    /*ie7,6用*/
  background-image: url("../img/p0091_m.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding-top: 1em;
  padding-left: 5vw;
}

.img-preview {
  display:none;
}

.img-preview img {
  height: 256px;
}

/** ------------ button ------------ **/
.btn-wrap .btn {
  font-size: 1.2em;
  color: black;
  width: 140px;
  padding: 5px 20px;
  font-weight: bold;
  background-color: white;
  outline: 0;    /*safari用*/
  border: none;  /*Firefox、ie8*/
  *border: 0;    /*ie7,6用*/
}

/** indicator **/
.indicator-wrap {
  display: none;
}

.indicator {
  position: fixed;
  height: 80px;
  width: 80px;
  padding-left: 35px;
  background-color: white;
  opacity: 0.8;
  z-index: 1001;
  display: block;
  border-radius: 10px;
  left: calc(50% - 80pt);
}

@keyframes rotate {
  0% {}
  100% {
    transform: rotate(360deg);
  }
}
.throbber {
  display: inline-block;
  position: relative;
  width: 10px;
  height: 80px;
  border-top: 20px solid gray;
  border-bottom: 20px solid rgba(128, 128, 128, 0.3);
  animation: rotate 2s infinite linear;
}
.throbber:before, .throbber:after {
  content: "";
  width: 10px;
  height: 80px;
  border-top: 20px solid gray;
  border-bottom: 20px solid gray;
  position: absolute;
  top: -20px;
  opacity: 0.3;
  transform: rotate(-60deg);
}
.throbber:after {
  transform: rotate(60deg);
}

.overlay {
  position: fixed;
  background-color: black;
  opacity: 0.6;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.gototop a {
  display:none;
}
@media screen and (max-width : 768px) {
    .gototop a {
        display:block;
        text-decoration: none;
        font-size: 2.0em;
        position: fixed;
        bottom: 10px;
        right: 15px;
        z-index: 1001;
        opacity: 0.7;
    }
}


/**
 * Design Shack Respnsive Menu
 */

* {
    padding: 0;
	margin: 0;
	
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

nav {
	width: 100%;
	margin: 0px auto;
	overflow: hidden;	
}

nav ul {
	list-style: none;
	overflow: hidden;
}

nav li a {
	background: #444;
	border-right: 1px solid #fff;
	color: #fff;
	display: block;
	float: left;
	font: 400 24px/1.4 'メイリオ', 'Cutive', Helvetica, Verdana, Arial, sans-serif;
	padding: 10px;
	text-align: left;
	text-decoration: none;
	text-transform: uppercase;
	width: 12.5%;
	
	/*TRANSISTIONS*/
	-webkit-transition: background 0.5s ease;
	   -moz-transition: background 0.5s ease;
	     -o-transition: background 0.5s ease;
	    -ms-transition: background 0.5s ease;
	        transition: background 0.5s ease;
}

/*HOVER*/
nav li a:hover {
	background: #222;
}

/*SMALL*/
nav small {
	font: 100 13px/1 'メイリオ', Helvetica, Verdana, Arial, sans-serif;
	text-transform: none;
	/*color: #aaa;*/
    color: #bbb;
    padding-left: 38px;
}

/*BORDER FIX*/
nav li:last-child a {
	/*border: none;*/
}

/*BLUE MENU*/
nav .blue {
	margin-top: 50px;
}

.blue li a {
	background: #75b1de;
}

.blue small {
	color: white;
}

.blue li a:hover {
	background: #444;
}

/*RED MENU*/

nav .red {
	margin-top: 50px;
}

.red li a {
	background: #5C0002;
}

.red small {
	color: white;
}

.red li a:hover {
	background: #a60306;
}

/* MEDIA QUERIES*/

@media only screen and (max-width : 3000px),
only screen and (max-device-width : 3000px){
	nav li a {
		font: 400 24px/1.4 'メイリオ', 'Cutive', Helvetica, Verdana, Arial, sans-serif;
	}
	
	nav small {
		font: 100 13px/1 'メイリオ', Helvetica, Verdana, Arial, sans-serif;
	}
}

@media only screen and (max-width : 930px),
only screen and (max-device-width : 930px){
	nav li a {
		width: 100%;
		height: 80px;
    	border-bottom: 1px solid #fff;
		font: 400 24px/1.4 'メイリオ', 'Cutive', Helvetica, Verdana, Arial, sans-serif;
	}
	
/*	nav li:last-child a, nav li:nth-child(4) a {
		border-right: none;
	}
	
	nav li:nth-child(5) a, nav li:nth-child(6) a, nav li:nth-child(7) a, nav li:nth-child(8) a {
		border-bottom: none;
	}
*/
}

@media only screen and (max-width : 580px),
only screen and (max-device-width : 580px){
	nav li a {
		width: 100%;
    	height: 80px;
		font: 400 24px/1.4 'メイリオ', 'Cutive', Helvetica, Verdana, Arial, sans-serif;
		padding-top: 12px;
		padding-bottom: 12px;
	}
/*
	nav li:nth-child(even) a {
		border-right: none;
	}
	
	nav li:nth-child(5) a, nav li:nth-child(6) a, nav li:nth-child(7) a, nav li:nth-child(8) a {
		border-bottom: 1px solid #fff;
	}
*/
}

@media only screen and (max-width : 320px),
only screen and (max-device-width : 320px){
	nav li a {
    	height: 80px;
		font: 400 24px/1.4 'メイリオ', 'Cutive', Helvetica, Verdana, Arial, sans-serif;
	}
}
